header {
    background-color: rgb(109, 109, 109);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid rgb(109, 109, 109);
    position: relative;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 16px;

}

.img-logo {
    width: 5rem;
    height: auto;
}


.img-icons {
    width: 2.4rem;
    height: auto;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
}

.nav-search-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 18px;
}

/* Элементы выпадающего списка */

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
}

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    position: fixed;
    right: 0;
    top: 111px;
    width: 40%;
    max-width: 300px;
    height: calc(100vh - 111px);
    background: rgb(223, 222, 222);
    padding: 30px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2; 
    transform: translateX(100%);
    transition: transform .3s ease;
}

.dropdown-menu.open {
    transform: translateX(0);
}

.menu-section a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: normal;
    border-bottom: 2px solid #3b3b3b;
    padding: 10% 0;
}


/* Элементы поиска */

.search-section {
    display: block;
    position: fixed;
    top: 111px;
    width: 90%;
    max-width: 600px;
    height: auto;
    padding: 10px;
    z-index: 2;
    background-color: rgb(88, 88, 129);
    visibility: hidden;
    opacity: 0;
    border: 1px solid black;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}


.search-section.open {
    visibility: visible;
    opacity: 1;
}

.text-area {
    border: none;
    width: 100%;
    appearance: none;
    outline: none;
    color: rgb(248, 248, 248);  
    font-size: 1rem;
    padding-right: 40px; 
    box-sizing: border-box;
    background-color: rgb(88, 88, 129);
}


/* убираю встроенный крестик для очистки */
.text-area[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%); /* Точное центрирование */
}

.img-icons-small {
    width: 1rem;
    height: auto;
}
















