.site-footer {
    display: flex;
    margin-top: 40px; 
    justify-content: space-around;
    background-color: rgba(101, 101, 148, 0.5);
    width: 100%;
    
}

.footer-content {
    margin-top: 1rem;
}

.social-img {
    width: auto;
    height: auto;
    margin: 5px;
    padding: 0 10px;
}

.social-img:active {
    opacity: 0.2;
    border-radius: 20px;
}

.social-icons {
    width: 50px;
    height: auto;
}

.footer-section-bottom {
    opacity: 0.7;
}