/* Обычный */
@font-face {
    font-family: 'science-gothic';
    src: url('src/assets/fonts/Science_Gothic/static/ScienceGothic_Condensed-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Полужирный */
@font-face {
    font-family: 'science-gothic';
    src: url('src/assets/fonts/Science_Gothic/static/ScienceGothic_Condensed-SemiBold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'science-gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 100%;

    /* Убираю голубой фон который появляется при клике на кнопку */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    list-style-type: none;
}

body {
    background-color: rgb(43, 43, 68);
}




